/* 
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografía
    4. Visuales
    5. Otros
*/

:root{
    /* Colores */
    --bitcoin-orange:#F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}